git+https://github.com/basxsoftwareassociation/htmlgenerator.git#egg=htmlgenerator
git+https://github.com/basxsoftwareassociation/bread.git@main#egg=basx-bread
git+https://github.com/basxsoftwareassociation/basxconnect.git@main#egg=basxconnect
pyuwsgi
