git+https://github.com/basxsoftwareassociation/htmlgenerator.git
git+https://github.com/basxsoftwareassociation/bread.git
git+https://github.com/basxsoftwareassociation/basxconnect.git
# technically one entry "basxconnect" would be enough in order to use released packages, however, we currently want to use bleeding-edge versions
